-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
pandas
black
attrs
sacrebleu
nltk==3.7
expiringdict
attrs
fastapi
pretty_html_table
pytest
black
isort
autoflake
pre-commit
uvicorn
jinja2
