-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
pandas
black
attrs==21.2.0
sacrebleu
nltk==3.7
expiringdict
fastapi==0.70.0
pretty_html_table
requests==2.26.0
starlette==0.16.0
uvicorn==0.15.0
jinja2==3.0.1
pytest
black
isort
autoflake
pre-commit


